@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Nunito+Sans&display=swap');
* {
  box-sizing:border-box;
  font-size: 14px;
  color: #172A3A;
  outline: none;
}

body {
 font-family: 'Nunito Sans', sans-serif;
}

header {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #eef;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 8px 10px 2px rgb(91 89 65 / 26%);
    position: relative;
}

h1 {
  text-align: center;
  margin: 0 auto 1rem;
  position: relative;
  top: -2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #322F0B;
}

.input {
  display: grid;
  gap: .5rem;
  margin: 1rem;
  grid-template-rows: minmax(3em, auto);
  grid-auto-rows: minmax(3em, auto);

}

.input,
.the-log {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.info {
  /* display: flex; */
}

label,
textarea {
  display: inline-block;
}

label {
  margin-top: .5rem;
}

input,
textarea,
select {
  padding: .5rem;
}

input:focus, textarea:focus, select:focus {
    color: #322F0B;
    box-shadow: 0px 0px 4px 0px rgb(91 89 65) inset;
}

input,
select {
  width:100%;
}

.notes,
.circle {
  display:flex;
  flex-direction: column;
}

.circle {
  align-items: center;
}

#circle {
  width: 4.5rem;
  height:4.5rem;
  margin-top: .5rem;
}

button {
  width: 90%;
  height: 4rem;
  margin: 2rem auto;
}


header p {
    position: absolute;
    bottom: 0.5em;
    right: 3em;
    color: #6c6c78;
}

/* --------------------- */

.good-take {
  border-radius: 50%;
  border: 2px solid #5A0001;
}

.shot-row {
  display: grid;
  gap: 0;
  border-bottom: 1px dotted gray;
  grid-template-columns: 1fr 1fr 3.5rem 1fr 1fr 1fr 3fr 1fr;
  margin: 0 20px;
}

.titles {
  font-weight: 500;
}

.shot-row:nth-child(2n) {
  background-color: #eef;
}

.shot-row div {
  min-height: 3rem;
  text-align: center;
  padding: 1rem .5rem;
}


@media screen and (min-width:768px) {
  /* change the grid around */
  .input {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .notes {
    grid-column-end: span 3;
  }

  .circle {
    flex-direction: row;
    justify-content: space-between;
  }

  #circle {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 0;
  }

  button {
    grid-column-end: span 2;
    margin:0 0 0 auto;
    width:calc(50% - 1rem);
  }

}

@media print {
  #infoGatherer {
    display: none !important;
  }

  header {
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0 #fff;
  }

  h1 {
    margin: 0 auto;
    top:0;
    font-size: 1.5em;

  }

  .shot-row {
    display: grid;
    gap: 0;
    border-bottom: 1px dotted gray;
    grid-template-columns: 1fr 1fr 4rem 1fr 1fr 1fr 3fr 1fr;
    margin: 0;
  }

  .titles {
    font-weight: 500;
  }

  /* .shot-row:nth-child(2n) {
    background-color: #ffe;
  } */


}
