/* list.js placeholder styles */
.sort.asc, .sort.desc { background-color: yellow; }

.sort.asc::after { content: "\002B06"; padding-left: 3px; }

.sort.desc::after { content: "\002B07"; padding-left: 3px; }

.pagination li { display: inline-block; padding: 5px; }

body { background-color: #f6f4f5; color: #697d06; margin: 1rem; }

button { background-color: #beca1e; padding: .5rem; margin: 1rem; border: none; transition: .3s; }

button:hover { background-color: #d2d588; }

#remove-button { background-color: #f6f4f5; color: #697d06; border: 1px solid currentColor; }

#remove-button:hover { background-color: #8d350c; color: #f6f4f5; }

tr:nth-child(even) { background-color: #d2d588; }
