@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* list.js placeholder styles */
.sort.asc, .sort.desc {
  background-color: yellow;
}
.sort.asc::after {
  content: "\002B06";
  padding-left: 3px;
}
.sort.desc::after {
  content: "\002B07";
  padding-left: 3px
}

.pagination li {
  display:inline-block;
  padding:5px;
}

// Temp Hide
#select-setup {
  display: none;
}

// color variables (for now)
// via wemakepalettes : No. 59: Limey - https://www.instagram.com/p/CR9IHFdLYLo/

$light : #f6f4f5;
$midLight: #d2d588;
$mid:#beca1e;
$midDark: #80a001;
$dark:#697d06;

// ---

$warningColor: #8d350c;

$pad: .5rem;

body {
  background-color: $light;
  color: $dark;
  // margin: 1rem;
  font-family: 'Manrope', sans-serif;
}

button {
  background-color: $dark;
  color: $light;
  padding: $pad;
  margin: 1rem;
  border:none;
  transition: .3s;

  &:hover {
    background-color: $mid;
    color: $dark;
  }

}

#remove-button {
  background-color: $light;
  color: $dark;
  border: 1px solid currentColor;

  &:hover {
    background-color: $warningColor;
    color: $light;
    // border: 1px solid currentColor;
  }
}

tr {
  padding: $pad;

  &:nth-child(even) {
    background-color: $midLight;
  }

  &.marked {
    background-color: yellow!important;
  }
}

td{
  padding: $pad;
}

h1 {
  text-transform:uppercase;
}

header,
nav,
nav ul,
section {
  margin: 1rem;
}


nav ul {
  padding: .5rem;
}

nav li {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

table {
  width: 100%;
}

footer {
  margin: 1rem;
  text-align: center;
}
